<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="backgroundGif">
        <div class="cassette-player">
            <div class="cassette">
                <!-- <div class="reels">
                    <div class="reel"></div>
                    <div class="reel"></div>
                </div> -->
                <div class="speaker"></div>
                <div class="dividerBar"></div>
                <div class="window"></div>
            </div>
            <div class="buttons">
                <button class="previous"></button>
                <button class="play"></button>
                <button class="stop"></button>
                <button class="next"></button>
                <button class="on/off"></button>
            </div>
        </div>
    </div>
</body>
<audio control id="audio"></audio>
<script src="static/buttons.js"></script>
</html>
